.messageViewer{
    height: 90%;
    width: 99%;
    overflow: auto;
    position: absolute;
    bottom: 0%;
    left: 1%;
}

.messageViewer::-webkit-scrollbar{
    width: 10px;
    border-radius: 5px;
}

.messageViewer::-webkit-scrollbar-track {
    background: #4a4a50;
    border-radius: 5px;
}
  
  /* Handle */
.messageViewer::-webkit-scrollbar-thumb {
    background: #1a191b;
    border-radius: 5px;
}
  